@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/person-pasfoto.png">
        <h1 class="person-name">Ruben Pouwen</h1>

    </section>

    <section class="profile">

        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Full stack developer met ervaring in frontend en backend ontwikkeling.
                </p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Full stack developer</h4>
                    <p class="profile-content__period">Augustus 2023 - Huidig</p>
                </div>
                <p class="profile-content__institute">Sportunity</p>
                <p class="profile-content__description">
                    Ontwikkeling van internationaal gebruikte applicaties zoals Tracx en Move.
                </p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Full stack developer (Stage)</h4>
                    <p class="profile-content__period">Januari 2023 - Januari 2023</p>
                </div>
                <p class="profile-content__institute">Netbasics, Barneveld</p>
                <p class="profile-content__description">
                    Onderzoek naar modulair ontwikkelen en migratiestappen uitgevoerd.
                </p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Full stack developer</h4>
                    <p class="profile-content__period">Februari 2022 - Januari 2023</p>
                </div>
                <p class="profile-content__institute">Netbasics, Barneveld</p>
                <p class="profile-content__description">
                    Geholpen met migratie naar Laravel & Vue.js en nieuwe modules ontwikkeld.
                </p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Full stack developer (Stage)</h4>
                    <p class="profile-content__period">Februari 2020 - Juli 2020</p>
                </div>
                <p class="profile-content__institute">Enrise, Amersfoort</p>
                <p class="profile-content__description">
                    Online retro-meetings oplossing ontwikkeld met React en Laravel.
                </p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Front end developer (Stage)</h4>
                    <p class="profile-content__period">September 2018 - Januari 2019</p>
                </div>
                <p class="profile-content__institute">Multimind, Apeldoorn</p>
                <p class="profile-content__description">
                    Informatie websites gemaakt voor lokale klanten.
                </p>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">ICT (Software Engineering)</h4>
                    <p class="profile-content__period">2020 - Huidig</p>
                </div>
                <p class="profile-content__institute">Windesheim, Zwolle</p>
                <p class="profile-content__description">Propedeuse behaald in 2020/2021.</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Applicatie- en mediaontwikkelaar Niveau 4</h4>
                    <p class="profile-content__period">Behaald in Juli 2020</p>
                </div>
                <p class="profile-content__institute">Hoornbeeck College, Amersfoort</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">VMBO - Theoretische Leerweg</h4>
                    <p class="profile-content__period">Behaald in 2017</p>
                </div>
                <p class="profile-content__institute">Jacobus Fruytier, Uddel</p>
            </div>
        </section>

    </section>
</div>