<section class="gdpr-consent hide">
    <div class="gdpr-consent__description">
        <p>
            Deze website gebruikt cookies.
            We gebruiken cookies om content te personaliseren, voor social media en het analyseren
            van verkeer op de website, advertenties.
        </p>
    </div>
    <div class="gdpr-consent__choice">
        <button class="gdpr-consent__button--accept">Ja, natuurlijk</button>
        <button class="gdpr-consent__button--reject">Neu, misschien later</button>
    </div>
</section>